<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SalesQuery.Web-20160109123628.mdf;Initial Catalog=aspnet-SalesQuery.Web-20160109123628;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="SalesQueryConnectionString" connectionString="Data Source=JAY-LAPTOP;Initial Catalog=SalesQuery;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>